.home {
    text-align: center;
    margin: 20px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.image {
    width: 30%; 
    height: auto;
    border: 2px solid #c0f5f2;
    padding: 5px;
}
